/* barreDeRecherche.css */

/* Style pour le paragraphe "Suggestions" */
body p {
    text-align: center;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    color: #333;
}

.rech {
    width: 300px;
    margin: 50px auto;
    text-align: center; /* Center the content inside .rech */
}

#barreDeRecherche {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    transition: 0.3s;
}

#barreDeRecherche:focus {
    border: 2px solid #3498db;
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
}

/* Style pour la liste de suggestions */
#suggestions {
    margin-top: 10px;
    border: 1px solid #3498db;
    border-radius: 5px;
    max-height: 150px;
    overflow-y: auto;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 300px; /* Ajustez la largeur selon vos préférences */
    margin: 0 auto; /* Center the #suggestions div */
}

/* Style pour chaque suggestion */
#suggestions p {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.5s, transform 0.5s;
    cursor: pointer;
    margin: 5px 0;
    padding: 10px;
    border-radius: 3px;
    transition: background-color 0.3s;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    color: #333;
}

#suggestions p:hover {
    background-color: #3498db;
    color: #fff;
}

#suggestions p.show {
    opacity: 1;
    transform: translateY(0);
}
