.body{
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
    display: grid;
    padding-top: 5%;
}

.recherche{
    grid-area: 2 / 2 / 3 / 3;
    padding-top: 50px;
    place-items: center;
    text-align: center;
}

.produits{
    grid-area: 2 / 3 / 8 / 5;
    margin: 0px 20px;
}

.ajoutBoutton {
    grid-area: 3 / 2 / 4 / 3;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.item{
    margin: 20px 20px;
}

.produit-item {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    place-items: center;
}

.produit h2 {
    margin-bottom: 10px;
}

.produit-info {
    font-size: 14px;
    margin-top: 25px;
}

.line-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.line-button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}
