.body{
    height: 80vh;
    width: 100vw;
    font-family: Arial, sans-serif;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr repeat(5, 0.25fr) 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 10px;
    padding-top: 7%;
}

.profilTitre {

    padding-top: 50px;
    grid-area: 1 / 2 / 2 / 3;
    place-items: center;
    text-align: center;

}
.profilNom {
    grid-area: 2 / 2 / 3 / 3;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.profilPrenom {
    grid-area: 3 / 2 / 4 / 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.profilDate {
    grid-area: 4 / 2 / 5 / 3;
    display: flex;
    justify-content: space-between;
    align-items: center;}
.profilMail {
    grid-area: 5 / 2 / 6 / 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.profilMdp {
    grid-area: 6 / 2 / 7 / 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.profilBouton {
    grid-area: 7 / 2 / 8 / 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.boutton {
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 50px;
    width: 100px;
}