.parent {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.panier {
    grid-area: 1 / 1 / 11 / 9;
    margin-left: 5vw;
}
.recapitulatif { grid-area: 1 / 9 / 11 / 13; }
.texteRecapitulatif { grid-area: 2 / 9 / 3 / 13; }
.nom-produit-quantite-recapitulatif { grid-area: 4 / 9 / 5 / 11; }
.prix-total-article-recapitulatif { grid-area: 4 / 12 / 5 / 13; }
.texte-total-recapitulatif { grid-area: 7 / 9 / 8 / 11; }
.prix-total-commande-recapitulatif { grid-area: 7 / 12 / 8 / 13; }
.button-paiement-recapitulatif { grid-area: 9 / 10 / 10 / 12; }
.textePanier { grid-area: 2 / 1 / 3 / 9; }
.description-article-panier {
    grid-area: 3 / 1 / 10 / 8;
    max-height: 60vh; /* Définissez la hauteur maximale souhaitée */
    min-height: 40vh; /* Définissez la hauteur maximale souhaitée */
    overflow-y: auto; /* Active la barre de défilement verticale en cas de dépassement */
}



.grid-panier {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.image-panier {
    grid-area: 2 / 1 / 6 / 5;
    margin-left: 5vw;
}
.nom-produit-panier { grid-area: 2 / 6 / 3 / 10; }
.prix-panier { grid-area: 2 / 11 / 3 / 12; }
.dates-panier { grid-area: 3 / 6 / 4 / 10; }
.niveau-panier { grid-area: 4 / 6 / 5 / 10; }
.quantite-panier { grid-area: 5 / 6 / 6 / 8; }
.supprimer { grid-area: 6 / 11 / 7 / 12; }
.ligne { grid-area: 7 / 1 / 8 / 12; }

#imagePanier{
    width: 100%;
    height: 100%;
}

#bouton-paiement{
    background-color: #159e44;
    border: 0;
    border-radius: 100px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 20px;
    max-width: 480px;
    min-height: 40px;
    min-width: 0px;
    overflow: hidden;
    padding: 0px;
    padding-left: 7vw;
    padding-right: 7vw;
    text-align: center;
    touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
}

#bouton-paiement:hover{
    background-color: #6bc115;
    color: #ffffff;
}

#texte-panier{
    margin-left: 5vw;
}

.ligne{
    padding-left: 5vw;
    padding-right: 5vw;
}
